@import '../../assets/variables.scss';

@font-face {
  font-family: RifficFree;
  src: local('RifficFree'),
    url('../../fonts/RifficFree-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: ComicCAT;
  src: local('ComicCAT'), url('../../fonts/Comic_CAT.otf') format('truetype');
  font-weight: Regular;
}

.body {
  @extend %cont-basic;
  background-color: #fff;
  overflow-x: hidden;
}

.wrapper {
  @extend %cont-basic;
  flex-direction: column;
  background-color: #fff;
  min-width: 1024px;
  max-width: 2560px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.error-window-wrapper {
  @extend %cont-basic;
  display: none;
}

.payment-form-wrapper {
  @extend %cont-basic;
  display: none;
}

.conditions-wrapper {
  @extend %cont-basic;
  display: none;
}

.start {
  @extend %cont-basic;
  min-width: 1024px;
  max-width: 2560px;
  min-height: 615;
  height: 100vh;
  max-height: 1440px;
  margin-top: -78px;
}

.start_content {
  @extend %cont-basic;
  flex-direction: row;
  top: 36px;
  min-width: 1000px;
  max-width: 1386px;
  min-height: 478px;
  max-height: 478px;
  width: 95%;
}

.start_content-left {
  @extend %cont-basic;
  min-width: 533px;
  max-width: 753px;
  min-height: inherit;
  max-height: inherit;

  .start_content_main-info_title {
    @extend %cont-basic;
    min-width: 100%;
    max-width: 100%;
    min-height: 312px;
    max-height: 312px;
    flex-direction: column;
    align-items: flex-start;

    .start_content_main-info_h1-container {
      @extend %cont-basic;
      justify-content: left;
      min-width: 100%;
      max-width: 100%;
      min-height: 142px;
      max-height: 142px;
    }

    .start_content_main-info_p-container {
      @extend %cont-basic;
      justify-content: left;
      min-width: 100%;
      max-width: 100%;
      min-height: 170px;
      max-height: 170px;
    }

    h1 {
      color: #000;
      font-family: 'RifficFree';
      font-size: 96px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 3.84px;
    }

    p {
      color: #000;
      font-family: ComicCAT;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 1.6px;
    }
  }

  .start_content_main-info {
    @extend %cont-basic;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    flex-direction: column;

    .start_content_main-info_contacts {
      @extend %cont-basic;
      align-items: center;
      justify-content: flex-start;
      min-width: 100%;
      max-width: 100%;
      min-height: 166px;
      max-height: 166px;

      .start_content_main-info_contacts_buttons {
        @extend %cont-basic;
        align-items: flex-end;
        justify-content: space-between;
        min-width: 630px;
        max-width: 630px;
        min-height: 166px;
        max-height: 166px;
      }
    }
  }
}

.start_content-right {
  @extend %cont-basic;
  min-width: 533px;
  max-width: 633px;
  min-height: inherit;
  max-height: inherit;
  justify-content: right;

  .start_content_blue-box {
    @extend %global-box;
    position: absolute;
    min-width: 576px;
    max-width: 576px;
    min-height: 393px;
    max-height: 393px;
    z-index: 1;
  }

  .start_content_main-image-container {
    display: block;
    position: absolute;
    min-width: 579px;
    max-width: 579px;
    min-height: 437px;
    max-height: 437px;
    z-index: 2;
    margin-bottom: 48px;
    margin-right: 56px;
  }

  .start_content_main-image-container_img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
  }
}

.about {
  @extend %cont-basic;
  flex-direction: column;
  justify-content: space-between;
  min-width: 1024px;
  max-width: 2560px;
  min-height: 1334px;
  height: 130vh;
  max-height: 2500px;

  .about_section {
    @extend %cont-basic;
    min-height: 626px;
    height: 45%;
    max-height: 1000px;

    .about_group {
      @extend %cont-basic;
      min-width: 400px;
      width: 85%;
      max-width: 2000px;
      min-height: 626px;
      height: 100%;
      max-height: 1000px;

      .about_group_group-bg {
        @extend %cont-basic;
        position: absolute;
        background-color: #67a3e8;
        z-index: 1;
      }

      .about_group_group-bg_left {
        border-radius: 0 49px 49px 0;
      }

      .about_group_group-bg_right {
        border-radius: 49px 0 0 49px;
      }

      .about_group_content {
        @extend %cont-basic;
        position: absolute;
        z-index: 2;

        .about_group_content_image-container {
          @extend %cont-basic;
          align-items: flex-end;
          width: 699px;

          .about_group_content_image-container_image-first {
            width: auto;
            height: 95%;
          }

          .about_group_content_image-container_image-second {
            width: auto;
            height: 115%;
          }
        }

        .about_group_content_text {
          min-width: 592px;
          max-width: 592px;

          h3 {
            color: #fff;
            font-family: RifficFree;
            font-size: 64px;
            font-style: normal;
            font-weight: 500;
          }

          p {
            color: #fff;
            font-family: ComicCAT;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 66.2px;
            letter-spacing: 1.6px;
          }
        }

        .about_group_content_text_second {
          padding-left: 80px;
        }
      }
    }
  }

  .about_section_left {
    justify-content: flex-start;
    transform: translateX(-85%);
  }

  .about_section_right {
    justify-content: flex-end;
    transform: translateX(85%);
  }

  .block-in {
    animation: in 1s both;
    -webkit-animation: in 1s both;
  }

  @-webkit-keyframes in {
    50% {
      transform: translateX(-50px);
    }
    100% {
      transform: translateX(-100px);
    }
  }
  @keyframes in {
    50% {
      transform: translateX(-50px);
    }
    100% {
      transform: translateX(-100px);
    }
  }

  .block-out {
    animation: out 1s both;
    -webkit-animation: out 1s both;
  }

  @-webkit-keyframes out {
    0% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(-85%);
    }
  }
  @keyframes out {
    0% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(-85%);
    }
  }

  .block-in-right {
    animation: in-right 1s both;
    -webkit-animation: in-right 1s both;
  }

  @-webkit-keyframes in-right {
    50% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(50px);
    }
  }
  @keyframes in-right {
    50% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(100px);
    }
  }

  .block-out-right {
    animation: out-right 1s both;
    -webkit-animation: out-right 1s both;
  }

  @-webkit-keyframes out-right {
    0% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(85%);
    }
  }
  @keyframes out-right {
    0% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(85%);
    }
  }
}

.carousel-main-container {
  @extend %cont-basic;
  min-width: 1024px;
  max-width: 2560px;
  min-height: 467px;
  height: 30vh;
  max-height: 600px;

  // .carousel-group-container {
  //   @extend %cont-basic;
  //   justify-content: flex-start;
  //   min-width: inherit;
  //   max-width: inherit;
  //   min-height: inherit;
  //   height: inherit;
  //   max-height: inherit;
  //   overflow-x: hidden;
  //   overflow-y: hidden;

  #yellow {
    background-color: yellow;
  }

  #blue {
    background-color: blue;
  }

  #purple {
    background-color: purple;
  }

  .carousel-group {
    @extend %cont-basic;
    min-height: inherit;
    height: inherit;
    max-height: inherit;
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;

    .video-box-wrapper {
      @extend %cont-basic;
      min-width: 50%;
      max-width: 50%;

      .video-box {
        @extend %cont-basic;
        min-width: inherit;
        max-width: inherit;

        .slider-video {
          min-height: 100%;
          max-height: 100%;
        }
      }
    }

    .image-box {
      min-width: 25%;
      max-width: 25%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    #box1 {
      background-image: url('../../images/carousel/1.jpg');
      min-width: 33%;
      max-width: 33%;
    }

    #box2 {
      background-image: url('../../images/carousel/2.jpg');
      min-width: 34%;
      max-width: 34%;
    }

    #box3 {
      background-image: url('../../images/carousel/3.jpg');
      min-width: 33%;
      max-width: 33%;
    }

    #box4 {
      background-image: url('../../images/carousel/4.jpg');
    }

    #box5 {
      background-image: url('../../images/carousel/5.jpg');
    }

    #box6 {
      background-image: url('../../images/carousel/6.jpg');
      min-width: 33%;
      max-width: 33%;
    }

    #box7 {
      background-image: url('../../images/carousel/7.jpg');
      min-width: 34%;
      max-width: 34%;
    }

    #box8 {
      background-image: url('../../images/carousel/8.jpg');
      min-width: 33%;
      max-width: 33%;
    }

    #box9 {
      background-image: url('../../images/carousel/9.jpg');
    }

    #box10 {
      background-image: url('../../images/carousel/10.jpg');
    }
  }
  // }
}

.reviews {
  @extend %cont-basic;
  flex-direction: column;
  min-width: 1024px;
  max-width: 2560px;
  min-height: 1180px;
  max-height: 1180px;

  .review_header {
    @extend %cont-basic;
    align-items: flex-end;
    min-width: 1024px;
    max-width: 2560px;
    min-height: 210px;
    max-height: 210px;
    box-sizing: border-box;

    h2 {
      color: #000;
      font-family: RifficFree;
      font-size: 44px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 3.74px;
    }
  }

  .review_content {
    @extend %cont-basic;
    min-width: 1024px;
    max-width: 2560px;
    min-height: 970px;
    max-height: 970px;

    .review_content-center {
      @extend %cont-basic;
      min-width: 1430px;
      max-width: 1430px;
      min-height: 970px;
      max-height: 970px;

      .review_content_review-container {
        @extend %cont-basic;
        flex-direction: column;
        position: absolute;
        justify-content: space-between;
        min-width: 594px;
        max-width: 594px;
        min-height: 272px;
        max-height: 272px;
        border-radius: 49px;

        .review_content_review-container_header {
          @extend %cont-basic;
          min-height: 68px;
          max-height: 68px;
          justify-content: flex-start;
          padding-left: 20px;
          box-sizing: border-box;

          h2 {
            color: #fff;
            font-family: RifficFree;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: 2.04px;
            text-decoration: underline;
            text-underline-offset: 8px;
            margin-left: 12px;
          }
        }

        .review_content_review-container_body {
          @extend %cont-basic;
          min-height: 127px;
          max-height: 127px;
          justify-content: flex-start;
          padding-left: 20px;
          box-sizing: border-box;

          p {
            color: #fff;
            text-align: justify;
            font-family: ComicCAT;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0.6px;
            line-height: 24px;

            width: 96%;
            height: fit-content;
          }
        }

        .review_content_review-container_bottom {
          @extend %cont-basic;
          min-height: 75px;
          max-height: 75px;
          justify-content: flex-start;
          padding-left: 20px;
          box-sizing: border-box;

          h3 {
            color: #fff;
            font-family: RifficFree;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 1.7px;
            margin-bottom: 35px;
          }
        }
      }

      .container-1 {
        z-index: 2;
        transform: rotate(3deg);
        background-image: url('../../images/review-1-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-width: 598.21px;
        max-width: 598.21px;
        min-height: 426.39px;
        max-height: 426.39px;
        left: 86px;
        top: 8.5%;
      }

      .container-2 {
        z-index: 3;
        transform: rotate(-5deg);
        background-image: url('../../images/review-2-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-width: 598.56px;
        max-width: 598.56px;
        min-height: 460.87px;
        max-height: 460.87px;
        right: 60px;
        top: 7%;
      }

      .container-3 {
        z-index: 3;
        transform: rotate(1deg);
        background-image: url('../../images/review-3-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-width: 710px;
        max-width: 710px;
        min-height: 376.98px;
        max-height: 376.98px;

        left: 240px;
        top: 60%;
      }

      @media only screen and (min-device-width: 320px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1) {
        .container-1 {
          left: 60px;
          top: 14%;
        }

        .container-2 {
          left: 140px;
          top: 47%;
        }

        .container-4 {
          right: 60px;
          top: 43%;
        }
      }
    }
  }
}

.payment {
  @extend %cont-basic;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 1024px;
  max-width: 2560px;
  min-height: 1659px;
  max-height: 1659px;

  .example-video-wrapper {
    @extend %cont-basic;
    align-items: flex-end;
    min-height: 802px;
    max-height: 802px;
    z-index: 2;

    .example-video-container_shadow {
      @extend %cont-basic;
      align-items: flex-end;
      position: absolute;
      min-width: 1211px;
      max-width: 1211px;
      min-height: 681px;
      max-height: 681px;
      z-index: 2;
      background: rgba(0, 0, 0, 0.38);
      box-shadow: 0px -114px 89px 0px rgba(0, 0, 0, 0.65) inset;

      p {
        color: #fff;
        text-align: justify;
        font-family: ComicCAT;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1.28px;
      }
    }

    .example-video-container_video {
      @extend %cont-basic;
      align-items: flex-end;
      position: absolute;
      min-width: 1211px;
      max-width: 1211px;
      min-height: 681px;
      max-height: 681px;
      z-index: 1;

      .example-video {
        width: 100%;
        height: 100%;
      }
    }
  }

  .payment-methods {
    @extend %cont-basic;
    flex-direction: column;
    min-height: 857px;
    max-height: 857px;
    z-index: 2;

    .payment-methods_title {
      @extend %cont-basic;
      min-height: 280px;
      max-height: 280px;

      h2 {
        color: #fff;
        font-family: ComicCAT;
        font-size: 44px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.74px;
      }
    }

    .payment-methods_content {
      @extend %cont-basic;
      min-height: 576px;
      max-height: 576px;
      min-width: 1211px;
      max-width: 1211px;

      .payment-methods_content_half {
        @extend %cont-basic;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 50%;
        min-height: inherit;
        max-height: inherit;

        .payment-methods_content_half_conditions {
          @extend %cont-basic;
          justify-content: flex-start;
          margin-top: 40px;

          .payment-methods_content_half_conditions_underlined {
            text-decoration-line: underline;
            cursor: pointer;
            margin: 0 0 0 70px;
          }

          .payment-methods_content_half_conditions_last-text {
            margin: 0 0 0 5px;
          }

          p {
            margin: 0;
            color: #fff;
            font-family: ComicCAT;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
          }
        }
      }

      .pushkin-card {
        position: absolute;
        left: 0px;
        top: 40px;
        z-index: 1;

        &:hover {
          top: 30px;
        }
      }

      .bank-card {
        position: absolute;
        left: 95px;
        top: 160px;
        z-index: 2;

        &:hover {
          top: 150px;
        }
      }

      h3 {
        color: #fff;
        font-family: ComicCAT;
        font-size: 44px;
        font-style: normal;
        font-weight: 400;
        margin: 90px 0 0 70px;
        box-sizing: border-box;
      }

      p {
        color: #fff;
        font-family: ComicCAT;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 47.664px;
        margin: 56px 0 0 70px;
      }
    }
  }

  .payment-bg {
    @extend %cont-basic;
    position: absolute;
    min-width: 1024px;
    max-width: 2560px;
    min-height: 1279px;
    max-height: 1279px;
    background-color: #67a3e8;
    border-radius: 49px 49px 49px 49px;
    z-index: 1;
  }
}

.contacts {
  display: block;
  min-width: 100%;
  max-width: 100%;
  min-height: 361px;
  max-height: 361px;
}
