@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  @import '../../assets/variables.scss';

  .wrapper {
    min-width: 320px;
    max-width: 640px;
    margin: 0;
    padding: 0;
  }

  .start {
    flex-direction: column;
    min-width: 320px;
    max-width: 640px;
    min-height: 400px;
    max-height: 1000px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .start_content {
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 320px;
    max-width: 640px;
    min-height: 400px;
    height: 100%;
    max-height: 1000px;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;

    .start_content-left {
      min-width: 320px;
      max-width: 640px;
      min-height: 100%;
      max-height: 100%;

      .start_content_main-info_title {
        box-sizing: border-box;
        margin: 0;
        min-height: 250px;
        max-height: 250px;

        .start_content_main-info_h1-container {
          min-height: 120px;
          max-height: 120px;
        }

        .start_content_main-info_p-container {
          min-height: 130px;
          max-height: 130px;
        }

        h1 {
          font-size: 66px;
        }

        p {
          font-size: 28px;
        }
      }

      .start_content_main-info {
        justify-content: space-between;

        .start_content_main-info_contacts {
          max-height: 150px;
          min-height: 150px;

          .start_content_main-info_contacts_buttons {
            @extend %cont-basic;
            flex-direction: column;
            justify-content: space-between;
            min-width: 320px;
            max-width: 640px;
            max-height: 150px;
            min-height: 150px;
            box-sizing: border-box;
            margin: 0;
          }
        }
      }
    }

    .start_content-right {
      padding: 15px;
      position: absolute;
      min-width: 320px;
      max-width: 640px;
      min-height: 260px;
      max-height: 260px;
      margin-top: 70%;
      box-sizing: border-box;

      .start_content_blue-box {
        min-width: 300px;
        max-width: 300px;
        min-height: 210px;
        max-height: 210px;
      }

      .start_content_main-image-container {
        min-width: 320px;
        max-width: 640px;
        min-height: 250px;
        max-height: 250px;
        margin-bottom: 10px;
        margin-right: 20px;
      }

      .start_content_main-image-container_img {
        width: 277px;
        height: 250px;
        flex-shrink: 0;
      }
    }
  }

  .about {
    min-width: 320px;
    max-width: 640px;
    margin: 0;
    padding: 0;
    height: 205vh;
    overflow-x: hidden;
    overflow-y: hidden;

    .about_section {
      margin: 0;
      padding: 0;
      height: 50%;
      overflow-y: hidden;
      overflow-x: hidden;
      .about_group {
        @extend %cont-basic;
        align-items: flex-start;
        min-width: 320px;
        max-width: 640px;
        margin: 0;
        padding: 0;

        .about_group_group-bg {
          width: 100%;
          height: 245px;
          flex-shrink: 0;
          margin-top: 55px;
        }

        .about_group_group-bg_left {
          left: 0;
          margin-left: -5%;
        }

        .about_group_group-bg_right {
          right: 0;
          margin-top: 46px;
          margin-right: -5%;
        }

        .about_group_content {
          flex-direction: column;
          min-width: 320px;
          max-width: 640px;
          justify-content: flex-start;

          .about_group_content_image-container {
            width: 90%;
            height: 300px;

            .about_group_content_image-container_image-second {
              height: 135%;
              position: absolute;
              top: -68px;
            }
          }

          .about_group_content_text {
            position: absolute;
            min-width: 320px;
            width: 90%;
            max-width: 640px;
            margin-top: 80%;

            h3 {
              color: #212427;
              font-size: 36px;
              line-height: 30px;
            }

            p {
              color: #212427;
              font-size: 24px;
              line-height: 40px;
            }
          }
          .about_group_content_text_second {
            padding-left: 0;
          }
        }
      }
    }

    .about_section_left {
      transform: translateX(-95%);
    }

    .about_section_right {
      transform: translateX(95%);
    }

    @-webkit-keyframes in {
      50% {
        transform: translateX(5%);
      }
      100% {
        transform: translateX(0px);
      }
    }
    @keyframes in {
      50% {
        transform: translateX(5%);
      }
      100% {
        transform: translateX(0px);
      }
    }

    @-webkit-keyframes out {
      0% {
        transform: translateX(0px);
      }
      100% {
        transform: translateX(-100%);
      }
    }
    @keyframes out {
      0% {
        transform: translateX(0px);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    @-webkit-keyframes in-right {
      50% {
        transform: translateX(-5%);
      }
      100% {
        transform: translateX(0px);
      }
    }
    @keyframes in-right {
      50% {
        transform: translateX(-5%);
      }
      100% {
        transform: translateX(0px);
      }
    }

    @-webkit-keyframes out-right {
      0% {
        transform: translateX(0px);
      }
      100% {
        transform: translateX(100%);
      }
    }
    @keyframes out-right {
      0% {
        transform: translateX(0px);
      }
      100% {
        transform: translateX(100%);
      }
    }
  }

  .carousel-main-container {
    min-width: 320px;
    width: 100%;
    max-width: 640px;
    min-height: 667px;
    max-height: 667px;

    .desktop-carousel {
      display: none;
    }

    .mobile-carousel {
      @extend %cont-basic;
      min-width: 320px;
      width: 100%;
      max-width: 640px;
      min-height: 467px;
      max-height: 467px;
      align-items: flex-end;
    }

    .carousel-group {
      .video-box-wrapper {
        min-width: 100%;
        max-width: 100%;

        .video-box {
          .slider-video {
            width: 100%;
            height: 100%;
          }
        }
      }

      .image-box {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
      }

      #box1 {
        min-width: 100%;
        max-width: 100%;
      }

      #box2 {
        min-width: 100%;
        max-width: 100%;
      }

      #box3 {
        min-width: 100%;
        max-width: 100%;
      }

      #box6 {
        min-width: 100%;
        max-width: 100%;
      }

      #box7 {
        min-width: 100%;
        max-width: 100%;
      }

      #box8 {
        min-width: 100%;
        max-width: 100%;
      }
    }
  }

  .reviews-container {
    min-width: 100%;
    max-width: 100%;
    .reviews {
      min-width: 100%;
      max-width: 100%;
      .review_header {
        min-height: 150px;
        max-height: 150px;
        h2 {
          font-size: 26px;
          margin-bottom: 40px;
        }
      }

      .review_content {
        min-width: 100%;
        max-width: 100%;

        .review_content-center {
          min-width: 100%;
          max-width: 100%;

          .review_content_review-container {
            min-width: 312px;
            max-width: 312px;
            min-height: 401px;
            max-height: 401px;

            .review_content_review-container_header {
              padding-left: 20px;
              min-height: 70px;
              max-height: 70px;

              h2 {
                font-size: 19px;
                margin-left: 12px;
                text-underline-offset: 4px;
              }
            }

            .review_content_review-container_body {
              min-height: 260px;
              max-height: 260px;
              padding-left: 20px;

              p {
                font-size: 17px;
                line-height: 17px;
              }
            }

            .review_content_review-container_bottom {
              min-height: 70px;
              max-height: 70px;
              padding-left: 20px;
              justify-content: center;

              h3 {
                font-size: 14px;
                margin-bottom: 24px;
              }
            }
          }

          .container-1 {
            transform: rotate(3deg);
            background-image: url('../../images/review-1-bg_mobile.png');
            min-width: 350px;
            max-width: 350px;
            min-height: 401px;
            max-height: 401px;
            left: 12px;
            top: 40px;
          }

          .container-2 {
            transform: rotate(-3deg);
            background-image: url('../../images/review-2-bg_mobile.png');
            min-width: 350px;
            max-width: 350px;
            min-height: 449px;
            max-height: 449px;
            right: 12px;
            top: 500px;
          }

          .container-3 {
            display: none;
            transform: rotate(1deg);
            min-width: 710px;
            max-width: 710px;
            min-height: 376.98px;
            max-height: 376.98px;

            left: 240px;
            bottom: 10px;
          }
        }
      }
    }
  }

  .payment {
    min-width: 320px;
    max-width: 640px;
    min-height: 1659px;
    max-height: 1659px;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;

    .example-video-wrapper {
      min-height: 400px;
      height: 100vh;
      max-height: 1000px;

      .example-video-container_shadow {
        min-width: 320px;
        max-width: 640px;
        min-height: 400px;
        height: 100vh;
        max-height: 1000px;
        padding-bottom: 40px;
        box-sizing: border-box;

        p {
          font-size: 22px;
          line-height: 35px;
        }
      }

      .example-video-container_video {
        min-width: 320px;
        max-width: 640px;
        min-height: 400px;
        height: 100vh;
        max-height: 1000px;

        .example-video {
          width: auto;
        }
      }
    }

    .payment-methods {
      min-width: 320px;
      max-width: 640px;
      overflow-y: hidden;

      .payment-methods_title {
        min-height: 80px;
        max-height: 80px;

        h2 {
          font-size: 34px;
        }
      }

      .payment-methods_content {
        min-width: 320px;
        max-width: 640px;
        min-height: 720px;
        max-height: 720px;
        flex-direction: column;

        .payment-methods_content_half {
          min-width: 320px;
          max-width: 640px;
          min-height: 720px;
          max-height: 720px;
          width: 100%;
          align-items: center;
        }

        // .pushkin-card {
        //   left: 10%;
        //   top: 380px;
        //   width: 263px;
        //   height: 169px;

        //   &:hover {
        //     top: 380px;
        //   }
        // }

        .bank-card {
          left: 12%;
          top: 500px;
          width: 280px;
          height: 180px;

          &:hover {
            top: 500px;
          }
          &:active {
            pointer-events: none;
          }
        }

        // .bank-card {
        //   left: 21%;
        //   top: 500px;
        //   width: 280px;
        //   height: 180px;

        //   &:hover {
        //     top: 500px;
        //   }
        //   &:active {
        //     pointer-events: none;
        //   }
        // }

        h3 {
          font-size: 28px;
          line-height: 45px;
          margin-top: 28px;
          margin-left: 10px;
          // margin: 28px 0 0 70px;
        }
        p {
          font-size: 24px;
          line-height: 30px;
        }
      }
    }

    .payment-bg {
      min-width: 320px;
      max-width: 640px;
      min-height: 1103px;
      max-height: 1103px;
    }
  }

  .contacts {
    min-width: 320px;
    width: 100%;
    max-width: 640px;
    min-height: 500px;
    max-height: 500px;
  }
}
