@function randomSize() {
  $sizes: 30, 40, 50, 60, 70, 80, 90, 100, 120, 150, 200, 300;
  $nth: nth($sizes, random(12));

  @return $nth;
}

@function randomDelay() {
  $rand: random();
  $randomNum: 0 + floor($rand * ((2 - 0) + 1));

  @return $randomNum;
}

@function randomDuration() {
  $amounts: 10, 20, 25, 30, 35, 40, 45;
  $nth: nth($amounts, random(6));

  @return $nth;
}

@for $i from 1 to 15 {
  li:nth-child(#{$i}) {
    $size: randomSize();
    width: #{$size}px;
    height: #{$size}px;
    animation-delay: #{randomDelay()}s;
    animation-duration: #{randomDuration()}s;
  }
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  background: rgba(189, 150, 197, 0.32);
  animation-name: animate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  top: 4400px;
  border-radius: 15px;
}

.circles li:nth-child(1) {
  left: 25%;
}

.circles li:nth-child(2) {
  left: 10%;
}

.circles li:nth-child(3) {
  left: 70%;
}

.circles li:nth-child(4) {
  left: 40%;
}

.circles li:nth-child(5) {
  left: 65%;
}

.circles li:nth-child(6) {
  left: 75%;
}

.circles li:nth-child(7) {
  left: 35%;
}

.circles li:nth-child(8) {
  left: 50%;
}

.circles li:nth-child(9) {
  left: 20%;
}

.circles li:nth-child(10) {
  left: 85%;
}

.circles li:nth-child(11) {
  left: 65%;
}

.circles li:nth-child(12) {
  left: 20%;
}

.circles li:nth-child(13) {
  left: 40%;
}

.circles li:nth-child(14) {
  left: 90%;
}

.circles li:nth-child(15) {
  left: 50%;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 10%;
  }
  100% {
    transform: translateY(-2200px) rotate(720deg);
    opacity: 1;
    border-radius: 50%;
  }
}

@keyframes animate2 {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 10%;
  }
  100% {
    transform: translateY(-4600px) rotate(720deg);
    opacity: 1;
    border-radius: 50%;
  }
}

.start-circles li {
  position: absolute;
  display: block;
  list-style: none;
  background: rgba(189, 150, 197, 0.32);
  animation-name: animate2;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  top: 1000px;
  border-radius: 15px;
}

.start-circles-1 li {
  top: 2000px;
}

.start-circles-2 li {
  top: 3000px;
}

.start-circles,
.start-circles-1,
.start-circles-2 li:nth-child(1) {
  left: 25%;
}

.start-circles,
.start-circles-1,
.start-circles-2 li:nth-child(2) {
  left: 10%;
}

.start-circles,
.start-circles-1,
.start-circles-2 li:nth-child(3) {
  left: 70%;
}

.start-circles,
.start-circles-1,
.start-circles-2 li:nth-child(4) {
  left: 40%;
}

.start-circles,
.start-circles-1,
.start-circles-2 li:nth-child(5) {
  left: 65%;
}

.start-circles,
.start-circles-1,
.start-circles-2 li:nth-child(6) {
  left: 75%;
}

.start-circles,
.start-circles-1,
.start-circles-2 li:nth-child(7) {
  left: 35%;
}

.start-circles,
.start-circles-1,
.start-circles-2 li:nth-child(8) {
  left: 50%;
}

.start-circles,
.start-circles-1,
.start-circles-2 li:nth-child(9) {
  left: 20%;
}
