@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-cont {
    min-width: 320px;
    max-width: 640px;
    min-height: 467px;
    max-height: 467px;
  }
}
