%cont-basic {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
}

%global-box {
  display: block;
  background-color: #67a3e8;
  border-radius: 49px;
}
